$body-bg: #fff;
$footer-bg: #171513;
$footer-text-color: #afa5a3;
$header: #171513;
$nav: #978e8c;
$nav-active: #fff;
$button: #ee3b00;
$white-color: #fff;
$services: #47433f;
$info-h2: #484340;
$parag: #575250;
$testi-bg: #f7f7f7;
$testi-h3: #484340;
$testi-quotes: #81736f;
$name: #575350;
$role: #948884;
$form-field: #877a76;
