<section class="contact-us">
   <div class="header-main-content">
      <h3 class="main-head">
         Convinced To Work With Us?
      </h3>
      <p class="sub-head main-head">Company has helped agencies to keep thier promises to clients since 2005.</p>
      <form class="forms" role="form" aria-labelledby="work with us" action="">
         <div class="form-columns">
            <div>
               <label hidden for="full_name">Enter full name</label> 
               <input type="text" placeholder="Fullname" class="form-field" id="full_name" aria-required="true">
            </div>
            <div>
               <label hidden for="email">Enter your valid Email address</label> 
               <input type="text" id="email" placeholder="Email Address" class="form-field" aria-required="true">
            </div>
            <div><input type="text" placeholder="Phone Number" class="form-field" aria-required="true"></div>
         </div>
         <div>
            <label hidden for="message">Enter your valid Email address</label> 
            <textarea rows="5" class="form-field" id="message">Message in brief</textarea>
         </div>
         <div class="align-center"><button type="submit" class="submit-button">Submit</button></div>
      </form>
   </div>
</section>