<div class="foot-wrapper">
	<section class="copyright">
		<p>&copy; 2019 Company. All Rights Reserved.</p>
	</section>
	<section class="medias">
		<ul>
			<li><span>Follow us on:</span></li>
			<li><a href="#" class="facebook"></a></li>
			<li><a href="#" class="linkedin"></a></li>
			<li><a href="#" class="twitter"></a></li>
			<li><a href="#" class="email"></a></li>
		</ul>
	</section>
</div>
