<div class="header-main-content">
   <a href="#" class="menu-icon sm-d"></a>
   <a href="#" class="logo" role="img" aria-label="Company Logo"><img src="images/logo.png" alt="Company Logo" /></a>
   <section class="header-link sm-d-h">
      <div class="nav" role="navigation" aria-label="Main navigation">
         <a href="#" class="active">About</a>
         <a href="#">Services</a>
         <a href="#">Solutions</a>
         <a href="#">Blog</a>
      </div>
      <div class="get-back">
         <a href="#" role="button" aria-describedby="info">
         <span class="comment-icon"></span>
         <span id="info">Get In Touch</span>
         </a>
      </div>
   </section>
   <a href="#" class="sm-d get-touch" role="button" aria-label="Get In Touch">
   <span class="comment-icon"></span>
   </a>
</div>