<section class="company-info">
   <div class="header-main-content">
      <div class="main-info">
         <h1 class="head-info">
            Integer bibendum st amet <br class="lg-d">arcu vel egestas.
         </h1>
         <div class="main-section">
            <div class="services-info">
               <div class="">
                  <span><img class="img" src="images/service1.png" alt="Service 1" title="Service 1" ></span>
                  <span role="img" aria-label="Service Name">Service Name</span>
               </div>
            </div>
            <div class="services-info">
               <div class="">
                  <span class="img" role="img" aria-label="Service Name"><img src="images/service2.png" alt="Service 2" title="Service 2" ></span>
                  <span>Service Name</span>
               </div>
            </div>
            <div class="services-info">
               <div class="">
                  <span class="img" role="img" aria-label="Service Name"><img src="images/service3.png" alt="Services 3" title="Services 3"></span>
                  <span>Service Name</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>