<section class="other-info">
   <div class="header-main-content">
      <div class="sub-main">
         <section class="section--content">
            <h2>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            </h2>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,</p>
         </section>
         <section class="section--content" role="img" aria-label="Various branch aroud the world">
            <img class="img" src="images/gl_map.png" alt="gl map" alt="title" />
         </section>
      </div>
   </div>
</section>