<section class="testi">
   <div class="header-main-content">
      <h3 class="heading">Testimonials</h3>
      <div class="testi-section">
         <section class="testi-section-item">
            <div class="quotes">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
            <div class="users">
               <div class="user-img" role="img" aria-label="Client name"><img class="img" src="images/user.png" alt="Client Name" title="Client Name" /></div>
               <div class="user-data">
                  <span class="user-name">Client Name</span><br>
                  <span class="user-designation">Position, ORG</span>
               </div>
            </div>
         </section>
         <section class="testi-section-item">
            <div class="quotes">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy</p>
            </div>
            <div class="users">
               <div class="user-img" role="img" aria-label="Client name"><img class="img" src="images/user.png" alt="Client Name" title="Client Name" /></div>
               <div class="user-data">
                  <span class="user-name">Client Name</span><br>
                  <span class="user-designation">Position, ORG</span>
               </div>
            </div>
         </section>
         <section class="testi-section-item">
            <div class="quotes">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
            <div class="users">
               <div class="user-img" role="img" aria-label="Client name"><img class="img" src="images/user.png" alt="Client Name" title="Client Name" /></div>
               <div class="user-data">
                  <span class="user-name">Client Name</span><br>
                  <span class="user-designation">Position, ORG</span>
               </div>
            </div>
         </section>
      </div>
   </div>
</section>