<html>
<head>
    <meta charset="UTF-8">
    <title>Axelerant: Interview Frontend</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
    	{% include "_header.html.twig" %}
    </header>
    <main>
    	{% include "_info.html.twig" %}
    	{% include "_otherinfo.html.twig" %}
    	{% include "_testi.html.twig" %}
    	{% include "_contactus.html.twig" %}

    <main>
    <footer class="footer">
    	{% include "_footer.html.twig" %}
    </footer>

    <script src="main.js"></script>
</body>
